@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background: #f5f5f5;
}

main {
	max-width: 720px;
	margin: auto;
}

main fieldset textarea {
	width: 100%;
}

input[type="text"] {
	width: 100%;
}

.placeholder-light::placeholder {
	color: #d0d0d0 !important;
}
